*~
*.swo
*.swp
.settings
.project
.pydevproject
sqlalchemy_mptt/.coverage
sqlalchemy_mptt/TODO
*.pyc
sqlalchemy_mptt/cover
cover
.coverage
build
dist
*.egg-info
example
TODO
TODO.txt
nohup.out
.cache
.tox
__pycache__
